<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
 
  <connectionStrings>
    <add name="LiskLog.Properties.Settings.NodeMonitorConnectionString"
      connectionString="Data Source=.\sql2014;Initial Catalog=NodeMonitor;Persist Security Info=True;User ID=xxx;Password=xxx"
      providerName="System.Data.SqlClient" />
    <add name="LiskLog.Properties.Settings.NodeMonitorConnectionString1"
      connectionString="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xD;&#xA;&lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xD;&#xA;  &lt;ConnectionString&gt;Data Source=.\SQL2014;Initial Catalog=NodeMonitor;Persist Security Info=True;User ID=sa;Password=;/ConnectionString&gt;&#xD;&#xA;  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xD;&#xA;&lt;/SerializableConnectionString&gt;"
      providerName="" />
  </connectionStrings>
  <appSettings>

  
    
    <!--need to have schema defined and database in place it will use connectionString in top of config -->
    <add key="saveToSqlServer" value="0"/>

    <!--will call api with https if value =1 --><!--
    <add key="useSSL" value="0"/>-->
    
    <!--<add key="enviroment" value="TESTNET_3"/>-->
    <add key="enablerebuild" value="0"/>
 

    <!--commands replace # by && in code-->
    <add key="usesnapshot" value="1"/>
    <add key="rebuild" value="cd $home # cd {liskfolder} # bash lisk.sh rebuild"/>
    <add key="rebuildsnapshot" value="cd $home # cd {liskfolder} # bash lisk.sh rebuild -u https://snapshot.lisknode.io"/>
    <add key="reload" value="cd $home # cd {liskfolder} # bash lisk.sh reload"/>
    <add key="restart" value="cd $home # cd {liskfolder}  # bash lisk.sh stop # bash lisk.sh start"/>
    <add key="start" value="cd $home # cd {liskfolder} # bash lisk.sh start"/>
    <add key="deleteLogFilesAndRestart" value="cd $home # cd {liskfolder} # bash lisk.sh stop # bash lisk.sh start"/>
    <add key="deleteLogFiles" value="cd $home # cd {liskfolder} # cd logs # rm lisk.log"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>